.header-div {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: medium;
  color: #d6dff8;
  backdrop-filter: blur(14px); 
  box-shadow: 0 0 50px #0a192f; 
  z-index: 999;
}

.header {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 150px;
}

.headerLink {
  padding: 10px 25px;
  color: #d6dff8;
  font-size: medium;
  text-decoration: none;
}

.headerLink:hover {
  color: #64feda;
  transform: translateY(-2px);
}
