ul {
  list-style: none;
  margin: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* .container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.centered-image {
  position: absolute;
  animation: moveImage 1s ease-in-out forwards;
}

@keyframes moveImage {
  0% {
    transform: translateX(0) translateY(0);
  }
  70% {
    transform: translateX(-100%) translateY(-100%);
  }
  80% {
    transform: translateX(-100%) translateY(-100%);
  }
  90% {
    transform: translateX(-100%) translateY(-100%);
  }
  100% {
    transform: translateX(-100%) translateY(-100%) translateY(0); Bounce effect 
  }
} */
